img.paragraph-image {
    max-width:14%;
    height:auto;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px groove black;
}

img.slide-image {
    max-width:20%;
    height:auto;
    margin: 5px;
    border: 2px solid black;
}

.subtitle {
    text-align: center;
}

ul.index {
    border-style: solid;
    list-style-position: inside;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.slideshow img {
    vertical-align: middle;
}